<!-- <p>Today is <%=dayOfTheweek%> and the time is: <%=currentTime %></p> -->
<!-- <h3>To do(s) for <%=todosDate %></h3> -->
<!--  <% if (dayOfTheweek==="SATURDAY" || dayOfTheweek==="SUNDAY") { %>
    <p style="color: peru">To do list for <%=dayOfTheweek%></p>
    <% } else { %>
    <p style="color: lightblue">To do list for <%=dayOfTheweek%></p>
    <% }%> -->
